<table class="table table-bordered table-responsive col-xs-12">
  <!-- table-responsive table-bordered-->
  <tr class="">
    <th class="row text-center col-xs-2">Feito</th>
    <th class="row col-xs-4">Prazo</th>
    <th class="row col-xs-6">Tarefa</th>
  </tr>
  <tr class="table table-hover">
    <td class="row col-xs-2">
      <input class="col-xs-12" type="checkbox">
    </td>
    <td class="row col-xs-4 text-justify">10/10/2017</td>
    <td class="row col-xs-6 text-justify">comprar pãozã</td>
  </tr>
  <tr class="table table-hover">
    <td class="row col-xs-2">
      <input class="col-xs-12" type="checkbox" value="">
    </td>
    <td class="row col-xs-4 text-justify">10/10/2017</td>
    <td class="row col-xs-6 text-justify">comprar pãozã</td>
  </tr>
</table>
